<%= turbo_stream_from 'users_rooms_channel' %>
<nav class="w-60 flex flex-col items-center justify-betwen border border-sky-500">
    <%= render 'shared/users_room' %>
    <%= render  'shared/create_room' %>
</nav>